/* Colors */
:root {
    --background-color: #000000;
    --text-color: #ffffff;
    --accent-color: #2d2d2dc5;
    --secondary-color: #3d3d3d;
}

header {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--background-color);
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Video */

.header {

    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    justify-content: center;

}


.hero-video {
  width: 100%;
  margin-top: -15%;
  height: auto;
}

/* Container */

.bio {
    background-color: var(--background-color);
    color: var(--text-color);
}

.links {
    margin: auto;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: var(--accent-color);
    padding: 20px;
    height: 60px;
}

.links i {
    margin-right: 10px;
}

.links a {
    color: var(--text-color);
    text-decoration: none;
    font-size: larger;
}

footer {
    margin-top: 10px;
    padding: 20px;
    height: 19vh;
    background-color: var(--secondary-color);
}

footer h1 {
    text-align: center;
    font-size: larger;
    margin-bottom: 40px;
    color: var(--text-color);
}

footer p {
    color: var(--text-color);
    text-align: center;
    font-size: medium;
    margin-top: 20px;
}